.MuiTableRow-root > *{
    padding: 10px;
}

.MuiTableRow-root.MuiTableRow-head > *{
    font-weight: bold;
}

.Table, td, th{
    border: 0;
}

.Table:first-child{
    border-radius: 0.7rem !important;
}

.status{
    padding: 5px;
    border-radius: 5px;
}

.details{
   color: #009bfc; 
}